{% extends "base.html" %}
{% block content %}

<form method='POST' action''>
    
    <legend>{{ legend }}</legend>
    <fieldset>

        {{ form.hidden_tag() }}

        <div>
            {{ form.first_name.label (class = 'form-control-label') }}
            {{ form.first_name (class = 'form-control form-control-lg') }}
        </div>

        <div>
            {{ form.last_name.label (class = 'form-control-label') }}
            {{ form.last_name (class = 'form-control form-control-lg') }}
        </div>

        <div>
            {{ form.email.label (class = 'form-control-label') }}
            {{ form.email (class = 'form-control form-control-lg') }}
        </div>

        <div>
            {{ form.gender.label (class = 'form-label') }}
            {% for value in form.gender %}
                <label for="{{ value.iid }}">{{ value.label  }}{{ value }}</label >
            {% endfor %}  
        </div>

        <div>
            {{ form.state.label()  }}
            {{ form.state  (class = 'form-select ')}}
        </div>

    </fieldset>
    
    <div class="form-group">
        {{ form.submit (class="btn btn-outline-info")}}
    </div>

</form>

{% endblock content %}
